:root {
  --darkestBlue: #1D2433;
  --spaceIndigo: #242E42;
  --dustyDenim: #748CAB;
  --softBlush: #E7D7D9;
  --burntPeach: #F37145;
  --tangerineDream: #F0A085;
  --lightCoral: #EE808E;
  --tuscanSun: #EBC36C;
  --mintLeaf: #48B78A;
}

body {
  margin: 0;
  min-height: auto;
  background-color: var(--darkestBlue);
}

body::-webkit-scrollbar {
  display: none;
}

p::selection, h1::selection{
  background-color: var(--burntPeach);
  color: var(--softBlush);
}

button::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.299);
  position: absolute;
  top: 0;
  height: 100%;
  width: 5rem;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.7s ease-in, width 0.5s;
}

button:hover::before {
  transform: translateX(500%);
  width: 10rem;
}

button:hover {
  scale: 1.01;
}